body {
	margin: 0;
	width: 1050px;
}

p {
	margin: 1px;
}

h1 {
	margin: 0 auto;
}

h2 {
	margin: 0 auto;
}

h3 {
	margin: 0 auto;
}

table {
	text-align: center;
	border-color: #000;
	width: 300px;
	margin: 0 auto;
	background-color: #000;
}

th {
	background-color: #33CCFF;
}

td {
	background-color: #FFF;
}

.container {
	margin: 0 auto;
	float: left;
	width: 1000px;
	height: 560px;
	background: #EEE;
	text-align: center;
}

#game {
	float: left;
	z-index: 1;
	position: relative;
}

.head {
	float: left;
	width: 480px;
	padding: 10px;
}

.control {
	float: left;
	width: 480px;
	padding: 10px;
}

.key {
	float: left;
	width: 480px;
	height: 130px;
	padding: 10px;
}

.stats {
	float: left;
	width: 480px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.play {
	float: left;
	width: 480px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.playButton {
	margin: 5px;
}

.endButton {
	margin: 5px;
}

.resetButton {
	margin: 5px;
}

#final {
	float: left;
	width: 480px;
	height: 480px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	z-index: 2;
	position: fixed;
	background: #BBB;
	display: none;
}